/* ------------------
Common  Styles
---------------------
 */
 body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
 }

 /*-----------------
  banner styles
  ------------------
   */
   .container{
    
    width: 85%;
    margin: auto;
   }
   .top-banner{
    display: flex;
    background-color: #161616;
    align-items: flex-end;
    border-radius: 30px;
    margin-top: 50px;
    
    
   }
   .title-area-width{
      width: 40%;
      padding: 30px 0 120px 100px;
   }
   .half-width{
    width: 50%;
    margin-left: 20px;
    
    }
   .half-width img{
      width: 90%;
      margin-bottom: -7px;
    
    }
   .top-banner .title-area-width h1{
    font-weight: 700;
    font-size: 5vw;
    color: #FFFFFF;
    margin-bottom: 20px;
    line-height: 1.1em;
    
   }
   .top-banner .title-area-width p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 45px;
   }
   .watch-live-btn{
      text-decoration: none;
      padding: 16px 25px;
      background-color: purple;
      border-radius: 5px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;

      color: #FFFFFF;
      transition: background-color 2s;
      
   }
   /* ------------
   transition styling
   ---------------
    */
   .watch-live-btn:hover{
      background-color: green;
      cursor: grab;
      
      
   }
   /* ---------------------
      blog styles 
      -------------------
      */
      .blog-container{
         width: 85%;
         margin: 100px auto;
         display: flex;
      }
      
      .nav-bar{
         width: 25%;
         background-color: #161616;
         height: fit-content;
         padding: 10px;
         border-radius: 10px;
         margin-right: 2%;
         
      }
      
      
      .nav-button a{
         text-decoration: none;
         font-weight: 500;
         font-size: 20px;
         background-color: #FFFFFF;
         border-radius: 10px;
         text-align: center;
         padding: 15px 15px;
         display: block;
         margin: 30px 30px;
         color: #161616;
         
      }
      .nav-button .active-button{
         background-color: purple;
         color: white;
      }
      .blogs{
         width: 72%;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         column-gap: 24px;
         row-gap: 24px;
      }
      .blog{
         border: 1px solid #ddd;
         margin: 0px 10px 10px 10px;
         border-radius: 10px;
         padding-bottom: 20px;
      }
      .blog .blog-thumbnail img{
         width: 100%;
         margin-bottom: 20px;
      }
      .blog-info a{
         text-decoration: none;
         border: 1px solid #333;
         border-radius: 5px;
         padding: 2px 10px;
         font-size: 16px;
         font-weight: 500;
         color: #161616;
         margin-left: 15px;
      }
      .blog-info h3{
         color: #161616;
         font-size: 18px;
         font-weight: 600;
         padding-left: 15px;
      }
      .blog-info span {
         margin-left: 15px;
     
     }

     /* ----------------
     invisible button
     -------------------
      */
      .tablet-view-button{
         display: flex;
         visibility: hidden;
         justify-content: center;
      }
      .view-all a{
         text-decoration: none;
         padding: 16px 25px;
         background-color: purple;
         border-radius: 5px;
         font-weight: 400;
         font-size: 20px;
         text-align: center;
         color: #FFFFFF;

      }

     /*----------------------
      footer styles
      -----------------------
       */
       footer{
         background-color: #161616;
         padding: 100px 0;
         margin-top: 30px;
       }
       footer h2{
         color: #fff;
         text-align: center;
         font-size: 40px;
         font-weight: 600;
       }
       hr{
         border: 1px solid rgba(255, 255, 255, 0.1);
       }
       footer nav ul{
         
         margin-top: 50px;
       }
       footer nav ul li{
         display: inline;
         margin-right: 5%;
         margin-left: 2%;
       }
       footer nav ul li a {
         text-decoration: none;
         color: #B9B9B9;
         font-size: 16px;
         font-weight: 500;
     }
     .social-icon {
      display: flex;
      
      justify-content: center;
     }

     /*-----------------------
      upcoming matches styles 
      ------------------------
      */
      .matches{
         width: 72%;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         column-gap: 24px;
         row-gap: 24px;
      }
      .match{
         border: 1px solid #ddd;
         margin: 0px 10px 10px 10px;
         border-radius: 10px;
         padding-bottom: 20px;
         padding-top: 20px;

      }
      .thumbnail-img{
         display: flex;
         align-items: center;
         padding-top: 30px;
         padding-left: 15px;
         padding-right: 15px;
         justify-content: space-evenly;
      }
      .thumbnail-img h2{
         color: #161616;
         font-size: 16px;
         font-weight: 700;
      }
      .text-info{
         text-align: center;
      }
      .text-info p{
         color: #4D4D4D;
         font-size: 16px;
         line-height: .5em;
      }
   /*----------------------
    Responsive Design
    -------------------    
    */

    /*---------------
     mobile view
     ----------------
      */
      @media only screen and (max-width:600px) {

         .top-banner{
            display: flex;
            flex-direction: column;
            align-items: center;
            
         }
         .title-area-width, .half-width{
            width: 60%;
            text-align: center;
            margin: auto;
            padding: 0;
            
         }
         .title-area-width{
            height: 330px;
         }
         .top-banner .title-area-width h1{
            font-size: 22px;
            
         }
         .top-banner .title-area-width p{
            font-size: 14px;
            margin-bottom: 26px;

         }
         
         .half-width img{
            width: 80%;

         }
         .watch-live-btn{
            
            padding: 8px 12px;
            border-radius: 5px;
            font-weight: 400;
            font-size: 20px;
         
            
         }
         .blog-container{
            flex-direction: column;
            
         }
         .nav-bar{
            width: 80%;
            margin: auto;
            background-color: #fff;
         }
         .nav-button a{
            border: 1px solid rgba(128, 128, 128, 0.555);
         }
         .blogs, .matches{
            grid-template-columns: repeat(1, 1fr);
            width: 90%;
            margin: 30px auto;
         }
         .blog, .match {
            display: block;
         }
         .blog-thumbnail img{
            width: 100%;

         }
        
        footer nav ul li{
          display: flex;
          flex-direction: column;
          margin-top: 5%;
          justify-content: center;
          align-items: center;
        }
       footer nav ul li a {
         font-size: 20px;
         text-decoration: none;
         
       }
       nav .social-icon{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         width: 30%;
         margin: auto;
         justify-items: center;
         margin-top: 50px;

       }
      }

   /*-------------------
    tablet view
    --------------------
     */
     @media only screen and (min-width:601px) and (max-width:1024px) {
      
      .title-area-width{
         width: 50%;
      }
      .half-width{
         width: 50%;
      }
      .blog-container{
         flex-direction: column;
         
      }
      .nav-bar{
         display: flex;
         width: 100%;
         justify-content: space-between;
         background-color: white;
      }
      .nav-button a{
         border: 1px solid grey;
      }
      .blogs, .matches{
         grid-template-columns: repeat(2, 1fr);
         width: 90%;
         margin: 30px auto;
      }
      .tablet-view-button{
         visibility: visible;

      }
      



      
     }

